.card {
    flex-shrink: 0;
    background: white;
    margin-bottom: 8px;
    padding: 16px;
    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
}

.card-header {
    font-size: 13px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    color: rgba(0,0,0,.6);
}

.card-header i.material-icons {
    font-size: 20px;
}

.card-header .card-label {
    margin-left: 4px;
}

.card-header .card-label::after {
    content: ".";
    margin-left: 4px;
}

.card-header .card-label:last-child::after {
    display: none;
}

.card-main {
    padding-left: 4px;
}