.el-button--primary,
.el-checkbox__input.is-checked .el-checkbox__inner {
    background: #009688;
    border-color: #009688;
}

.el-button--primary:hover {
    background: #26A69A;
    border-color: #26A69A;
}

.el-input__inner:focus,
.el-checkbox__inner,
.el-checkbox__inner:hover,
.el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: #26A69A;
}

a {
    color: #009688;
    text-decoration: none;
}

a:hover {
    color: #26A69A;
}